*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    text-decoration: none;
}

.sticky{
    width: 70px;
    height: 70px;
    background-color:rgb(64, 226, 64);
     border-radius: 40%; 
    position:fixed;
    bottom: 20px;
    right:20px;
     }

.up{
    position: relative;
    top:20px;
    left:16px;
    color: white;font-size: 30px;
}

.wrapper{
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  
}


header {
    width: 95%;        
    position: fixed;  
    top: 0;             
    left: 0;            
    z-index: 1000;      
}


.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
    padding:0 1em;

}

.header .logo{
    flex-grow: 2;
    padding: 2em;

}

.header nav{
    flex-grow: 5;
    display: flex;
    justify-content:space-evenly ;
}

.header nav a {
    color: white;
    justify-content: space-between;

}

.header .logo .white{
 font-weight: bolder;
 font-size: x-large;
}

.header .logo .green{
    font-weight: bolder;
 font-size: xx-large;
 color: green;
}

nav a:hover{
    color: green;
}

.menu{
    display:none;
}


@media(max-width:600px){
    .menu{
        display: inline-block;
        color: white;
    }

    .header nav{
        display: none;
    }
}


.main{
    margin-top: 70px; 
    background-image: url(./imgs/background.jpg) ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1{
    font-size: 2em;
}

p{
    padding-top: 20px;
    line-height: 25px;
}

.image{
    padding-top: 50px;
    width: 100%;
    height: 500px;
    transition: tranform 1s ease-in-out;
}

.main, .cotent{
    min-height: 60%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.download{
    margin-top: 20px;
    outline: none;
    border: 1px solid green;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: green;
    font-size: 1em;
}

.discover{
    outline: none;
    border: 1px solid green;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(93, 199, 93);
    color: white;
    font-size: 1em;
}

.content{
    margin-left: 60px;
}

.heading{
  padding-top: 60px;   
}


@media(max-width:950px){
    .main{
    align-items: center;
}
}

@media(max-width:980px){
    .discover{
        margin-top: 10px;
        width: 80%;
    }

    .download{
        margin-top: 10px;
        width: 80%;
    }
}

@media(max-width:860px){
    .content{
        margin-left: 10px;
    }

    .main, .third{
        flex-direction: column;
    }
}

@media(max-width:680px){
    .content{
        margin-left: 20px;
    }

    .heading{
        padding-top: 10px;
    }

    .discover{
        margin-bottom: 20px;
    }
.main{
    flex-direction: column;
}
    
}

.main2 span{
    margin-left: 100px;
}


.third{
    display: flex;
    padding-top: 2em;
}

.new{
    text-align: center;
    padding-top: 3em;
}

.new h1{
    font-size: 2em;
}

@media(max-width:310px){
    .new{
       font-size: 1em; 
    }
}


.countdown{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/back1.avif);
    /* background-image: fluid; */
    background-attachment: fixed;
    padding: 2em;
   }

.countdown{
    margin-top: 3em;
    flex-direction: column;
}

.count2{
    padding-top: 2em;
}

.countdown .load   , .countdown .rated{
    margin-right:3em;
}

.countdown i ,.countdown p{
    font-size: 40px;
}

.countdown h1{
    font-size: 80px;
}

@media(max-width:790px){
    .count2{
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:390px){
    .countdown h1{
        font-size: 50px;
    }

    .countdown i ,.countdown p{
        font-size: 20px;
    }

    .new h1{
        font-size: medium;
    }
}

.contenthead{
    text-align: center;
    margin: 2em;
    font-size: large;
}

.contenthead h2,.box1 h1{
    font-weight: bold;
    text-align: center;
    color: gray;
}

.contenthead span,.box1 span{
    color: gray;
}

.contenthead p{
    color: gray;
}

.second{
display: flex;
justify-content:space-evenly;
border-bottom: 1px solid gray;

}

.btn1:hover{
  background-color: green;
  color: white;
}

.second .details{
    width: 40%;
    margin-top: 5em;
}

.second .details p{
    padding: 1em 0;
    color: gray;
    
}

.second img{
    margin-top: 5%;
    
}

.content{
    margin-left: 0;
}

@media(max-width: 840px){
    .second{
        flex-direction: column;
    }

    .second .details{
        width: 100%;
    }

    .btn{
        max-width: 100%;
        flex-direction: column;
    }

}

.ghead {
    color: green;
    text-align: center;
    margin: 40px 0;
  

}
 .ghead i{
    color: black;
} 

.pic{
    background-color: white;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.p1{
    height: 150px;
}

.octagon{
    width: 230px;
    border: 5px solid black;  
    clip-path: polygon(30% 0%, 70% 0%, 100% 19%, 100% 78%, 70% 100%, 30% 100%, 0 80%, 0 21%);
    transition: transform 1s ease-in-out;
   
}

.octagon:hover{
transform: scale(1.3);}

@media(max-width:810px){
    .pic{
      max-width: 100%;  
    }
}